---
import SiteLayout from '../layouts/SiteLayout.astro';
---
<SiteLayout>    
  <div class="wrapper">
    <h1>Forge Design / Components </h1>
    <img src="/forge-tang-clan.png">
    <h2>Forge Design / Components is great to design wit</h2>
  </div>
</SiteLayout>