---
import SiteLayout from '../layouts/SiteLayout.astro';
---
<SiteLayout>    
  <div class="wrapper">
    <div class="hero">
    <h1>Forge</h1>
    <h1>Design / Components</h1>
    <h2>Forge Design / Components is great to design wit</h2>
    <div class="forge-tang">
      <img src="/forge-tang-clan.svg">
    </div>
  </div>
  </div>
</SiteLayout>