---
import SiteLayout from '../layouts/SiteLayout.astro';
---
<SiteLayout>    
  <div class="wrapper">
    <h1>Forge Components / Design</h1>
    <img src="../../public/forge-tang-clan.png">
  </div>
</SiteLayout>