---
import '../styles/styles.css';
import '../styles/reset.css';
import '../styles/normalize.css';
import SiteNav from '../components/site-nav.jsx';
import site from '../components/site.js';
const url = new URL(Astro.request.url);
---
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Navigation codotype</title>
  <link rel="icon" href="/forge-tang-clan.svg" type="image/svg+xml">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body>
  <SiteNav where={url} menu={site}/>
  <slot />
</body>
</html>